html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }

    main.container{
      min-height: 400px;
    }

    table.cli-table{
      width: 70%;
      margin: 10px auto;
    }

    table.cli-table  td.auto, th.auto{
      width: 100%;
    }

  }
  
  .container {
    max-width: 960px;
  }

  