<h2 class="text-center">Efetuar Signin</h2>

<div class="row">

    <form class="col-md-6 shadow p-3 m-3 mx-auto bg-light"
        (submit)="login()" novalidate [formGroup]="signInForm">

        <div class="form-group">
            <label>Email:</label>
            <input type="email" #emailInput class="form-control" formControlName="email">
        </div>

        <div class="form-group">
            <label>Senha:</label>
            <input type="password" class="form-control" formControlName="senha">
        </div>

        <div>
            <button [disabled]="signInForm.invalid" class="btn btn-block btn-outline-primary">Acessar</button>
            <a class="btn btn-block btn-outline-secondary" [routerLink]="['/']">Cancelar</a>
        </div>
    </form>

</div>
