<h2>Listagem de Clientes</h2>

<div class="m-3">
    <a class="btn btn-outline-secondary" [routerLink]="['/clientes/add']">Novo</a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped cli-table">
        <thead class="thead-dark">
            <tr>
                <th class="auto">Nome</th>
                <th>Idade</th>
                <th>Sexo</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.nomeCompleto}}</td>
                <td>{{cliente.idade}}</td>
                <td>{{cliente.sexo}}</td>
                <td class="btn-group">
                    <a class="btn btn-sm btn-outline-success" [routerLink]="['/clientes/edit/', cliente.id]">Editar</a>
                    <button class="btn btn-sm btn-outline-danger" (click)="open(content, cliente)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Excluir</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Deseja excluir o cliente <strong>"{{cliente.nomeCompleto}}"</strong>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Cancelar</button>
      <button type="button" class="btn btn-outline-danger" (click)="confirmDel()">OK</button>
    </div>
  </ng-template>
